.card-custom{
    position: relative;
    overflow: hidden;
    border: none;
    transition: transform 0.3s;

}
 .card-custom:hover{
    transform: scale(1.05);
 }
 .card-custom .card-img-top{
    transition: transform 0.3s;
 }
 .card-custom:hover .card-img-top{
    transform: scale(1.2);
 }
 .card-custom .card-body{
    position: relative;

    background: rgba(90, 93, 255, 0.6);
    color: #fff;
    padding: 10px;
    transform: translateY(100%);
    transition: transform 0.3s;
 }
 .card-custom .card-body{
    transform: translateY(0);
 }
